*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topo{
    background-color: #003f5c;
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .meio{
    background-color: #f4e9d8;
    padding: 10px;
    width: 100%;
    height: 480px;
    text-align: justify;
    color: #003f5c;
    
 }

.meio h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: -3px;
    margin-left: 14%;
    margin-top: 180px;
}

.meio p{
    margin-left: 14%;
    font-size: 15px;
    margin-bottom: 20px;
}

.img{
    margin-left: 50%;
    width: 430px;
    height: 260px;
    border-radius: 5px;
    margin-top: -170px;
}

.meiod{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #003f5c;
    font-size: 22px;
    margin-top: 50px;
}

.nos{
    margin-top: -5px;
    margin-bottom: 25px;
    font-size: 28px;
    margin-left: 26px;
}

.cax1 {
    background-color: #f4e9d8;
    width: 340px;
    height: 430px;
    margin-left: 14%;
    border-radius: 7px;
    border: 1px solid #8b5a2b;
}

.cax1 img{
    margin-top: 15px;
    width: 250px;
    height: 180px;
    border-radius: 7px;
}

.meiod h3{
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.meiod p{
    font-size: 15px;
}

.cax2 {
    background-color: #f4e9d8;
    width: 340px;
    height: 430px;
    margin-left: 39%;
    margin-top: -430px;
    border-radius: 7px;
    border: 1px solid #8b5a2b;
}

.cax2 img{
    margin-top: 15px;
    width: 250px;
    height: 180px;
    border-radius: 7px;
}

.cax3 {
    background-color: #f4e9d8;
    width: 340px;
    height: 430px;
    margin-left: 64%;
    margin-top: -430px;
    border-radius: 7px;
    border: 1px solid #8b5a2b;
}

.cax3 img{
    margin-top: 15px;
    width: 250px;
    height: 180px;
    border-radius: 7px;
}

.form{
    background-color: #003f5c;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    height: 500px;
    color: white;
    text-align:center;
    margin-top: 50px;
}

.footer {
    background-color: rgb(126, 61, 0);
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer p {
    font-size: 0.9rem;
}

