/*Criando o menu estilizando simples*/

nav{
    background-color: rgb(123, 206, 206);
    margin-left: 22px;
    margin-right: 20px;
}
ul{
    /*Alinha os itens na horizontal*/
    display: flex;
}

li{

    /*tira as bolinhas*/
    list-style: none;
    padding: 20px;
}

a{

    /*tira o subilinhado do link*/
    text-decoration: none;
    color: rgb(209, 255, 255);
    font-weight: bold;
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:hover{
    color: rgb(79, 122, 151);
}

h2{

    padding: 15px;
    margin-right: 80px;
    margin-left: 22px;
    background-color: rgb(0, 182, 121);
    color: rgb(173, 255, 228);
    border: 1px solid black;
}

img{

    width: 300px;
    padding-left: 24px;
    height: 350px;
}


p{
    font-size: 20px;
    margin-top: -165px;
    text-align: justify;
    margin-left: 330px;
    margin-right: 400px;

}

footer{
    background-color: aliceblue;
    margin-left: 22px;
    margin-right: 20px;
}

h3 {

}