nav{
    background-color: rgb(255, 208, 0);
    padding-top: 20px;
    border-bottom: 2px solid rgb(255, 135, 54);
}
ul{

    display: flex;
    padding-left: 530px;
    padding-bottom: 20px;
}

li{

    list-style: none;
    padding-left: 100px;
}

a{

    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo{
    padding-left: 830px;
    width: 200px;
    height: 200px;
}

.nos{
   text-align: center;
   font-size: 30px;
   font-weight: bold;
   background-color: rgb(252, 242, 103);
   margin-left: 38%;
   margin-right: 38%;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h4{
    background-color: rgb(252, 242, 103);
    text-align: center;
    padding: 5px;
    margin-left: 43%;
    margin-right: 43%;
    vertical-align: middle;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.rodape{
    background-color: orange;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-top: 2px solid orangered;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}