body {
    display: flex;
    text-align: center;
    justify-content: center;
}

.base {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    background-color: rgb(61, 61, 61);
    margin-top: 100px;
}

input{
    width: 98%;
    height: 50px;
    background-color: rgb(61, 61, 61);
    border: 0px solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    margin-bottom: -15px;
}

.botao{
    width: 60px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(100, 100, 100);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 4px;
    color: white;
}
.botao:hover{
    background-color: rgb(117, 117, 117);
}

.zbotao{
    width: 128px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(100, 100, 100);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-left: -65px;
}
.zbotao:hover{
    background-color: rgb(117, 117, 117);
}

.ubotao{
    width: 60px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(100, 100, 100);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-left: 5px;
}
.ubotao:hover{
    background-color: rgb(117, 117, 117);
}